.card-title-btn:hover{
    background-color: rgb(237, 52, 52);
    color: white;
}

.card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    
}

.card:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
}

.no-records-found{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}
